*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    position:fixed;
    background-color: black;
}
#shape{
    width: 150px;
    height: 100px;
    position: absolute;
    background:linear-gradient(81deg,red,blue);
    transform: skew(15deg);
}
i{
    font-size: 30px;
    color: white;
}


